
.logincard {margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginleft {
  background: #323171;
  border-radius: 10px 0 0 10px;
}

.loginright {
  /* padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px; */
  background: #fbfbfb;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 767.98px) {
  .loginpage {
    background-color: #323171;
  }

  .row {
    --bs-gutter-x: none !important;
  }
  .loginright {
    border-radius: 10px;
  }
}
