
.logincard {margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginleft {
  background: #323171;
  border-radius: 10px 0 0 10px;
}

.loginright {
  /* padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px; */
  background: #fbfbfb;
  border-radius: 0 10px 10px 0;
}
.loginleft .logo {
  display: flex;
  justify-content: center;
  width: auto;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.loginleft .logo :hover {
  transform: scale(1.1);

}

@media (max-width: 767.98px) {
  .loginpage {
    background-color: #323171;
  }

  .row {
    --bs-gutter-x: none !important;
  }
  .loginright {
    border-radius: 10px;
  }
}
