.form-label {
  padding: 10px;
  font-weight: bold;
}

.bord {
  border-top: 5px solid #060b26;
  border-bottom: 5px solid #060b26;
}

.request {
  width: 200px;
  height: 90px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 8px -5px;
  margin: 8px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
