@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.attendance,
.activity {
  display: flex;
  margin-top: 20px;
  align-items: center;
  font-size: 3rem;
}

[class^="col"] {
  background: lightgray;
  margin: 10px;
  height: 150px;
  border-radius: 10px;

  
}

.graphatt {
  background: lightgray;
  margin: 10px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}