@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.attendance,
.otrequest,
.leave,
.activity {
  display: flex;
  margin-top: 20px;
  align-items: center;
  font-size: 3rem;
}

.request {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.list {
  display: flex;
  margin-top: 20px;
  border-width: 20px;
  justify-content: right;
  font-size: 2rem;
}

th {
  background-color: lightblue;
}

[class^="col"] {
  background: lightgray;
  margin: 10px;
  height: 150px;
  border-radius: 10px;

  
}

.graphatt {
  background: lightgray;
  margin: 10px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.table {
  margin-top: 20px;
}
.tr {
  background-color: #DAF0BD;
}